{% extends 'public/_article_base.html' %}
{% load static %}
{% block module_includes %}
    {% load sass_tags %}
    <link rel='stylesheet'
          type='text/css'
          href='{% sass_src "css/public/jyn.scss" %}?v=1.2'/>
{% endblock %}
{% block title %}Sigma Pi Gamma Iota - Jyn{% endblock %}
{% block content_title %}Jyn Godin{% endblock %}
{% block article %}
    <div class="jyn">
        <div class="jyn-image-wrapper">
            <!--https://sigmapigammaiota.org/content/users/lgodin/LIAM_GODIN_7o0G4bS.jpg-->
        </div>
        <div class="title">Jyn Godin (2000 - 2021)</div>
        <div class="about">
            Jyn Godin came into this world on December 23, 2000, and brought twenty years of nothing but joy to those around them.<br>
      An abundance of tears were shed upon their passing, and their absence is felt every day.<br>
      This speaks volumes to the type of person Jyn was. Jyn was joy, Jyn was compassion, Jyn was love.<br>
      We miss you Jyn.
        </div>
    </div>
{% endblock %}
