<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      This is the page head - it contains info the browser uses to display the page
      You won't see what's in the head in the page
      Scroll down to the body element for the page content
    -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&display=swap" rel="stylesheet">
    <!-- 
      This is an HTML comment
      You can write text in a comment and the content won't be visible in the page
    -->

    <title>Jyn Godin</title>
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Jyn Godin" />
    <meta property="og:type" content="article" />

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.scss" />
  </head>
  <body onload="document.body.style.opacity='1'">
    <!--
      This is the body of the page
      Look at the elements and see how they appear in the rendered page on the right
      Each element is defined using tags, with < and > indicating where each one opens and closes
      There are elements for sections of the page, images, text, and more
      The elements include attributes referenced in the CSS for the page style
    -->

    <!-- The wrapper and content divs set margins and positioning -->
    <div class="wrapper">
      <div class="image-blurred-edge">
      </div>
        <h1>
        Jyn Godin<br>
        2000 - 2021
      </h1>
    </div>
    <div class="about">
      Jyn Godin came into this world on December 23, 2000, and brought twenty years of nothing but joy to those around them.<br>
      An abundance tears were shed upon their passing, and their absence is felt every day.<br>
      This speaks volumes to the type of person Jyn was. Jyn was joy, Jyn was compassion, Jyn was love.<br>
      We miss you Jyn.
    </div>
    <button class="btn draw-border">Donate</button>
  </body>
</html>
