{% extends 'public/_article_base.html' %}
{% load static %}
{% block module_includes %}
{% load sass_tags %}
    <link rel="stylesheet"
          type="text/css"
          href='{% sass_src "css/public/rush.scss" %}?v=1.2'/>
{% endblock %}
{% block title %}Sigma Pi Gamma Iota - Rush{% endblock %}
{% block content_title %}Rush Sigma Pi!{% endblock %}
{% block article %}
<!--
  TODO
  Turn FAQ into collapse links
  Fix Iframes for mobile
  Have Rush committee rewrite content
-->
<div class="container content-top-margin">
    <div class="row">
        <div class="col">
            <h2>About Rush:</h2>
            <div class="text-block">
                Hello and welcome to Rush 2022 for Sigma Pi Gamma Iota Chapter! We hope you
                enjoyed IFC Showcase and house tours and are excited to get to know you
                better throughout the rest of Rush.
                <br />
                <br />
                This page holds all content you need to find upcoming events! Please see the
                essential links section for access to our rush discord and other
                information.
                <br />
                <br />
                Come on down to lunches (11:30AM) and dinners (5:30PM) Monday through Friday! No commitment, we'd just
                love to chat with you and get you some free food!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h2>Upcoming Events:</h2>
            <div class="text-block">
                <p id="start">
                    <a href="https://calendar.google.com/calendar/u/1?cid=Nzd2aG5jMHI1ZHZqcjdkNjlyZWE4aGpyNDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">
                        Google Calendar
                    </a>
                    <br />
                    <em>All events are at 7:00pm at the house unless stated otherwise</em>
                    <br />
                    START OF RUSH: Oct. 25
                </p>
                <ul>
                    <li>IFC Showcase - Oct. 25</li>
                    <li>House Tours - Oct. 26-28</li>
                    <li>BBQ - Oct. 29 - 12:00PM</li>
                    <li>Destroy Build Destroy - Oct. 31 - 6:00PM</li>
                    <li>Hot Ones (Invite Only) - Nov. 2 - 6:30PM</li>
                    <li>Purgatory Chasm - Nov. 5 - 11:00AM</li>
                    <li>Casino Night - Nov. 8 - 7:00PM</li>
                    <li>Escape Rooms - Nov. 10 - 6:00PM</li>
                    <li>Global Bonanza - Nov. 12 - 7:00PM</li>
                    <li>Mystery Event - Nov. 14</li>
                    <li>Bid Dinner - Nov. 17</li>
                    <li>Bid Night - Nov. 18</li>
                </ul>
                <p id="end">
                    END OF RUSH: Nov. 19
                </p>
            </div>
            <h2>Contact Us:</h2>
            <div class="text-block">
                Rush Chairs:
                <br>
                Allie Rozear: aprozear@wpi.edu
                <br>
                Luke Hoy: lahoy@wpi.edu
                <br>
                If you need accommodations, please contact Darren Kwee at
                <br>
                (860)-952-4895
            </div>
            <h2>Essential Links:</h2>
            <div class="text-block">
                <a href="https://youtu.be/g0OaDbc-ThQ">House Tour Video</a>
                <br />
                <a href="https://www.wpi.edu/student-experience/getting-involved/fraternities-sororities">
                    WPI Rush Info Page
                </a>
                <br />
                <a href="https://www.wpi.edu/student-experience/getting-involved/fraternities-sororities/joining">
                    WPI Joining Greek Life Info Page
                </a>
                <br />
                <a href="https://www.instagram.com/rushsigmapiwpi/">Instagram</a>
                <br />
                <a href="https://www.wpiifc.org/recruitment">IFC Recruitment Page</a>
                <br />
                <a href="https://www.facebook.com/SigmaPiWPI">Facebook</a>
                <br />
            </div>
            <h2>FAQ</h2>
            <h4>
                <em>Do I need to have or know anything for the events?</em>
            </h4>
            <p>
                Not at all! Feel free to come by to any open event and have some fun! We'd
                love to meet you.
            </p>
            <h4>
                <em>Is there any commitment if I go to an event?</em>
            </h4>
            <p>
                Nope!
            </p>
            <h4>
                <em>What kind of fraternity is this?</em>
            </h4>
            <p>
                Sigma Pi is a fraternity of like-minded individuals at Worcester Polytechnic
                Institute. There is no category or classification for our fraternity, our
                interests and backgrounds span far and wide.
            </p>
        </div>
        <div class="col-md">
            <div class="iframe-wrapper">
                <iframe
                    src="https://calendar.google.com/calendar/embed?src=a075696f7c7db5486188b64dca655924ec7b1722b9af8959af6921ff794db463%40group.calendar.google.com&ctz=America%2FNew_York"
                    style="border: 0" 
                    width="800" 
                    height="600" 
                    frameborder="0" 
                    scrolling="no"></iframe>
                <br />
                <br />
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2952.2727568831738!2d-71.8069350486312!3d42.272700648503736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e406594c0632c5%3A0xcdce60e428959b!2sSigma%20Pi%2C%20Gamma%20Iota%20Chapter!5e0!3m2!1sen!2sus!4v1633544269182!5m2!1sen!2sus"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>
                Interest Form:
            </h2>
            <br />
            <div class="iframe-wrapper">
                <iframe id="interestForm"
                    src="https://docs.google.com/forms/d/e/1FAIpQLSdsV7nUZPULSlwVvBoCDG12QdI2Gktncs7F4djB-ZrhXAio5A/viewform"
                    frameborder="0" 
                    marginheight="0" 
                    marginwidth="0" 
                    scrolling="no" 
                    height="895">Loading…</iframe>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
{% endblock %}
