@import "variables";

.jyn {
  text-align: center;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top: 3em;
  font-size: 20px;
  -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 10s; /* Firefox < 16 */
      -ms-animation: fadein 10s; /* Internet Explorer */
       -o-animation: fadein 10s; /* Opera < 12.1 */
          animation: fadein 10s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.jyn-image-wrapper {
  margin: auto;
  background-image: url('https://sigmapigammaiota.org/content/users/lgodin/LIAM_GODIN_7o0G4bS.jpg');
  width: 484px;
  height: 599px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
  box-shadow: 0 0 8px 8px white inset;
  margin-bottom: 2em;
}

.article {
  margin-bottom: 100px;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $sp-purple;
  }



  .iframe-wrapper {
    position: relative;
    padding: 0 20px 5px 20px;

    &.full-width {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: $md-max) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $md-min) {
      &.float-md-right,
      &.float-md-left {
        width: 50%;
      }
    }

    iframe {
      display: block;
      width: 100%;
    }
  }
}
