{% extends 'partiesv2/_base.html' %}

{% block title %}Sigma Pi Secure - View All Parties {% endblock %}

{% block content %}
<h3>View all parties.</h3>

{% if all_parties or old_parties %}
<script type="text/javascript">
    function showHideRow(row) {
        $('tr.sub_row').not('.collapsed').slideUp(4000, function () {
            $(this).addClass("collapsed");
        });
        $("#" + row).slideDown(4000, function () {
            $(this).removeClass("collapsed");
        });
    }
</script>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="five wide">Party Name</th>
				<th class="three wide">Party Date</th>
				<th class="three wide" colspan="2">Jobs</th>
				<th class="two wide">Guest List</th>
			</tr>
		</thead>
		<tbody>
		{% for p in all_parties reversed %}
	  		<tr>
				<td>{{ p.name }}</td>
			  	<td>{{ p.party_start.date }}</td>
                {% if p.jobs %}
			  	<td>
                    <a onclick="showHideRow('hidden_row_{{ p.pk }}')">
                        Toggle Preview
                    </a>
                </td>
                <td>
					<a href="{% url 'partylist-download_jobs' p.pk %}">
                        Download
					</a>
                </td>
                {% else %}
                <td colspan="2">
                    Not Posted
                </td>
                {% endif %}
			  	<td>
					<a href="{% url 'partylist-guests' p.pk %}">
						Guest List
					</a>
			  	</td>
			</tr>
            {% if p.jobs %}
            <tr id='hidden_row_{{ p.pk }}' class="sub_row ">
                <td colspan="5">
{#                    TODO: Fix height of displayed PDF files (images are fine?)#}
                    {% if '.pdf' in p.jobs.url %}
                        <embed src="{{ p.jobs.url }}#pagemode=thumbs&scrollbar=1" width="100%" height="500vh">
                    {% else %}
                        <embed src="{{ p.jobs.url }}" width="100%" height="100%">
                    {% endif %}
                </td>
            </tr>
            {% endif %}
		{% endfor %}
        {% for old in old_parties reversed %}
            <tr>
                <td>{{ old.name }}</td>
                <td>{{ old.date }}</td>
                <td>
                    {% if old.jobs %}
                        <a href="{{ old.jobs.url }}">
                            Jobs
                        </a>
                    {% else %}
                        Not Posted
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'partylist-old-guests' old.pk %}">
                        Guest List
                    </a>
                </td>
            </tr>
        {% endfor %}
		</tbody>
	</table>
</div>

{% else %}
<p>
	No parties exist. Check back later.
</p>

{% endif %}
{% endblock %}