{% extends 'common/public_base_header.html' %}
{% block title %}Sigma Pi Gamma Iota - Brothers{% endblock %}
{% load sass_tags %}
{% block module_includes %}
  {{ block.super }}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href='{% sass_src "css/public/brothers.scss" %}?v=1' />
{% endblock %}

{% block content_title %}
  Brothers
{% endblock %}
{% block content %}

  <!-- Form for filtering brothers, filled into popover in script right below -->
  <div style="display: none">
    <div id="popover-content" class="container hide">
      <h3>Filter Brothers</h3>
      <div class="form-group">
        <label for="majorSelector">Major</label>
        <select class="form-control" id="majorSelector">
          <option>CS</option>
          <option>ME</option>
          <option>ECE</option>
        </select>

        <label for="activitiesAndInterests">Activities and Interests</label>
        <input id="activitiesAndInterests" class="form-control" type="text" placeholder="Frisbee, Hiking, etc.">

        <label for="yearSelector">Year</label>
        <select class="form-control" id="yearSelector">
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>

        <label for="homeState">Home State</label>
        <input id="homeState" class="form-control" type="text" placeholder="MA">
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" onclick="filterBrothers()">Filter</button>
      </div>
    </div>
  </div>

  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({
        html: true,
        content: $('#popover-content')
      })
    })

    // Get filter info and reload page with said info in URL
    function filterBrothers() {
      const year = document.getElementById("yearSelector").value;
      const major = document.getElementById("majorSelector").value;
      const homeState = document.getElementById("homeState").value;
      const activities = document.getElementById("activitiesAndInterests").value

      // Clear parameters before trying to add new
      history.pushState(null, "", location.href.split("?")[0])

      if(window.location.search.includes("year")) {
        window.location.search = ""
      }

      if(year) {
        window.location.search += `year=${year}&major=${major}&homeState=${homeState}&activities=${activities}`
      }
    }

  </script>

  <div class="family-tree-fab">
    <a class="inner" href="{% url 'userinfo-family_tree_dashbaord' %}">
      View Family Tree
    </a>
  </div>
  <div class="test-button" data-container="body" data-toggle="popover" data-placement="bottom">
    <p class="inner">Filter</p>
  </div>
  {% for group in brother_groups %}
    {% if group.count > 0 %}
      <div class="user-group-header">
        <div class="container">
          <h1>{{ group.group_title }}</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for brother in group.brothers %}
            {% if brother %}
            <div class="user-panel col-md-6 col-lg-4 mx-auto">
              <div class="panel-body">
                <div class="user-header">
                  {% if brother.title %}
                    <h3 class="position-title">{{ brother.title }}</h3>
                  {% endif %}
                  <h3 class="name-title">{{ brother.first_name }} {{ brother.last_name }}</h3>
                </div>

                <div class="user-image-wrapper">
                  <img src="{{ brother.userinfo.picture|profile_image }}">
                </div>
                <div class="content">
                  <div class="tags">
                    <div class="nameval tag">
                      <div class="name">Class:</div>
                      <div class="value">{{ brother.userinfo.pledgeClass.name }}</div>
                    </div>
                    <div class="nameval tag">
                      <div class="name">Year:</div>
                      <div class="value">{{ brother.userinfo.graduationYear }}</div>
                    </div>
                    <div class="nameval tag">
                      <div class="name">Major:</div>
                      <div class="value">{{ brother.userinfo.major }}</div>
                    </div>
                  </div>
                  <div class="info">
                    <div class="nameval">
                      <div class="name">Hometown:</div>
                      <div class="value">{{ brother.userinfo.hometown }}</div>
                    </div>
                    <div class="nameval">
                      <div class="name">Activities:</div>
                      <div class="value">{{ brother.userinfo.activities }}</div>
                    </div>
                    <div class="nameval">
                      <div class="name">Interests:</div>
                      <div class="value">{{ brother.userinfo.interests }}</div>
                    </div>
                    <div class="nameval">
                      <div class="name">Favorite Memory:</div>
                      <div class="value">{{ brother.userinfo.favoriteMemory }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
